spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wetour
    username: misha
    password: vbifyz123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true

  flyway:
    enabled: false

  devtools:
    restart:
      enabled: true